
div.row.diff.footer
{
    height        : auto;
    border-top    : $secondary-color 1px solid;
    border-bottom : $secondary-color 1px solid;
    border-left   : 0;
    border-right  : 0;
    margin-bottom : rem-calc(100);
    margin-top    : rem-calc(100);

    *
    {
        font-size   : rem-calc(16);
        margin      : 0;
        padding     : 0;
        line-height : normal;
    }

    li
    {
        color           : $jet;
        text-align      : left;
        list-style-type : none;
    }

    p
    {
        color       : $body-font-color;
        font-weight : bold;
        margin      : 0;
        cursor: pointer;
    }

    .follow
    {
        margin-top : rem-calc(10);

        @media #{$small-only}
        {
            margin : rem-calc(4px) rem-calc(23vw);
            p
            {
                text-align : center;
            }
        }

        .fa
        {
            font-size  : rem-calc(30);
            padding    : rem-calc(10);
            color      : white;
            background : $aluminum;
        }

        ul
        {
            display         : flex;
            justify-content : space-between;
            margin-left     : 0;
            margin-top      : rem-calc(20);
            max-width       : rem-calc(200);

            li:not(:first-child)
            {
                margin-left : rem-calc(10)
            }
        }
    }

    .contact
    {
        background          : url(#{$imgPath}/jda-logo-2.jpg) no-repeat;
        background-size     : rem-calc(117);
        padding-right       : rem-calc(130);
        width               : auto;
        background-position : right;
        margin              : rem-calc(3) 0 rem-calc(10) 0;

        @media #{$small-only}
        {
            margin : 0 rem-calc(6vw);
            p
            {
                text-align : center;
            }
        }

        ul
        {
            li
            {
                font-weight : 300;
            }

            ul
            {
                margin-top : rem-calc(16);
            }
        }
    }
}

#contact-form
{
    transition : all 0.5s ease-in-out;
    bottom     : 25%;
    width      : 50%;
    left       : -55%;
    display    : block;
    visibility : visible;
    opacity    : 0;
    border     : solid 5px $primary-color;
    position   : fixed;
    background : white;
    padding    : 20px;

    &.show
    {
        opacity : 1;
        left    : 25%
    }

    button
    {
        right            : rem-calc(10);
        top              : rem-calc(10);
        position         : absolute;
        visibility       : visible;
        padding          : 0 rem-calc(12);
        font-size        : rem-calc(35);
        font-weight      : 100;
        opacity          : 1;
        transition       : opacity 1s ease-in-out;
        transition-delay : 1s;
        cursor: pointer;
    }

    form
    {
        margin      : 0;
        padding-top : 20px;
        width       : 100%;
    }

    form label
    {
        margin-bottom : .2em;
        color         : black;
    }

    form label.error
    {
        margin-bottom : 1em;
        color         : #c0392b;
        transition    : all 0.5s ease-in-out;
    }

    form input[type="text"], form textarea
    {
        padding       : 0 10px;
        margin-bottom : 1.25em;
        background    : #e6e6e6;
        border        : 1px solid #191919;
        border-radius : 0.2em
    }

    form input[type="text"]:focus, form textarea:focus
    {
        border-color : #191919;
    }

    form input[type="text"][disabled], form textarea[disabled]
    {
        background : #fff
    }

    form input[type="text"].error, form textarea.error
    {
        background   : #e6e6e6;
        border-color : #c0392b
    }

    fieldset
    {
        border  : 0px;
        margin  : 0;
        padding : 0
    }

    .required
    {
        color : #e9266d
    }

    #success, #error
    {
        display : none;

        *
        {
            transition : all 0.5s ease-in-out;
        }
    }

    #success span, #error span
    {
        display  : block;
        position : absolute;
        top      : 0;
        width    : 100%
    }

    #success span p, #error span p
    {
        margin-top : 6em;
        transition : all 0.5s ease-in-out;
    }

    #success span p
    {
        color : #9bd32d;
    }

    #error span p
    {
        color : #c0392b;
    }

    #submit
    {
        color      : white;
        padding    : rem-calc(7) rem-calc(15);
        background : $primary-color;
        border     : none;
        float      : right;
    }
}