/*Global styles for FoundationPress
 *Demo: http://foundationpress.olefredrik.com */

// Prettify type rendering
body
{
    -webkit-font-smoothing : antialiased;
    text-rendering         : optimizeLegibility;
    font-family            : $font-family-sans-serif;

    .forcefullwidth_wrapper_tp_banner
    {
        opacity       : 1;
        transition    : opacity 0.2s ease-out;
        margin-bottom : -100px
    }

    &.f-topbar-fixed
    {
        .forcefullwidth_wrapper_tp_banner
        {
            opacity : 1;
        }
    }

    #single-post
    {

    }
}

#sidebar
{
    width : 100%;
}

// Reset margin and padding on figure element
figure
{
    margin  : 0;
    padding : 0;
}

// Add some basic styling for figcaption element
figcaption
{
    margin-bottom : rem-calc(20);
    margin-top    : rem-calc(10);
    color         : #6f6f6f;
}

// Add the alignment classes used by the WordPress media library

.alignleft
{
    float : left;
}

.alignright
{
    float : right;
}

.aligncenter
{
    display      : block;
    margin-left  : auto;
    margin-right : auto;
}

blockquote.alignleft, img.alignleft
{
    margin : rem-calc(7) rem-calc(24) rem-calc(7) 0;
}

.wp-caption.alignleft
{
    margin : rem-calc(7) rem-calc(14) rem-calc(7) 0;
}

blockquote.alignright, img.alignright
{
    margin : rem-calc(7) 0 rem-calc(7) rem-calc(24);
}

.tp-bullets span.tp-bullet-title, .tp-bullets span.tp-bullet-title
{
    display : none;
}

.row
{
    &.info-row
    {
        position : absolute;
        top      : 0;

        .info-container
        {
            background-color : rgba(90, 90, 90, 0.95);
            color            : rgba(220, 220, 220, 1);
            padding          : 0;
            width            : 33%;
            bottom           : rem-calc(30);
            height           : auto;
            position         : fixed;
            transition       : all 0.8s ease-in-out;

            &.hidden
            {
                left       : -50vw;
                transition : all 0.8s ease-in-out;
            }

            &.relative
            {
                position : relative;
            }

            h4
            {
                width : initial;

                &.poked
                {
                    width : calc(100% + 50px);
                }
            }

            button
            {
                position          : absolute;
                right             : rem-calc(0);
                height            : rem-calc(54);
                width             : rem-calc(54);
                margin-top        : rem-calc(-4);
                padding           : 0 rem-calc(0);
                transition        : all 0.5s ease-in-out;

                background        : url(#{$icoPath}/bz-arrow.svg) 0 0 no-repeat;
                -webkit-transform : rotate(90deg);
                -moz-transform    : rotate(90deg);
                -ms-transform     : rotate(90deg);
                -o-transform      : rotate(90deg);
                transform         : rotate(90deg);

                &.spun
                {
                    -webkit-transform : rotate(270deg);
                    -moz-transform    : rotate(270deg);
                    -ms-transform     : rotate(270deg);
                    -o-transform      : rotate(270deg);
                    transform         : rotate(270deg);
                    transition        : all 500ms ease-in-out;
                    float             : right;
                    margin-right      : rem-calc(-59);
                }

                &.off
                {
                    transition : 500ms ease-in-out;
                }

                &.poked
                {
                    //transition-property: all;
                    transition-property : transform, left, right;
                    transition-delay    : 500ms;
                    background          : $primary-color url(#{$icoPath}/bz-arrow.svg) 0 0 no-repeat;
                }

                &.absolute-again
                {
                    position : absolute;
                }
            }

            ul, p, img
            {
                opacity         : 1;
                list-style-type : none;
            }

            p
            {
                padding       : rem-calc(10) rem-calc(13);
                margin        : 0 rem-calc(20);
                font-size     : 19px;
                border-left   : 0;
                border-right  : 0;
                border-bottom : solid 1px #999;
            }

            .writeup
            {
                font-weight    : 100;
                font-size      : rem-calc(18);
                padding : rem-calc(30);

                blockquote
                {
                    color: white;
                    padding: rem-calc(9);

                    &:before
                    {
                        color          : #ccc;
                        content        : open-quote;
                        font-size      : 4em;
                        line-height    : 0.1em;
                        margin-right   : 0.1em;
                        vertical-align : -0.4em;
                    }
                }
            }

            li
            {
                transition       : all 1s ease-in-out;
                transition-delay : 1s;
                font-size        : 18px;
                font-weight      : 100;
                margin-left      : rem-calc(10);
                position         : relative;
                margin-bottom    : rem-calc(10);

                &:before
                {
                    content     : "\f054  ";
                    color       : $primary-color;
                    font-family : 'FontAwesome';
                    margin-left : 0;
                }
            }

            li.title
            {
                text-transform  : capitalize;
                font-weight     : normal;
                margin-bottom   : rem-calc(0);
                text-decoration : underline;

                &:before
                {
                    content : "";
                }
            }

        }
    }

    h2
    {
        font-size   : rem-calc(30);
        margin-top  : 0;
        margin-left : rem-calc(0);
    }

    &.full-width
    {
        max-width     : 100% !important;
        margin-top    : rem-calc(50);
        margin-bottom : rem-calc(50);

        &.diff
        {
            color : $white;
        }

        .row
        {
            max-width  : $row-width;
            background : inherit;
            margin     : 0 auto;
        }
    }

    &.what-we-do
    {
        & > div
        {
            .header
            {
                width: auto;
                transition: all 1s ease-in-out;
                padding-left: 0;

                &.fixed
                {
                    top : rem-calc(160);
                    width: auto;

                    @media #{$small-to-medium}
                    {
                        margin-top: 0;
                        text-align : left   ;
                        top: rem-calc(0);
                        transition: all 1s ease-in-out;
                        padding:0;

                        h1
                        {
                            background: transparent;
                            font-size: rem-calc(18);
                            font-weight: bold;
                            height: rem-calc(45);
                            margin-top: 0;
                            margin-right: rem-calc(45);
                            padding-top: 10px;
                            position: absolute;
                            margin-left: rem-calc(45);
                            width: rem-calc(50%);
                            min-width: 200px;
                        }
                    }
                }

                &.faded
                {
                    left: -50vw;
                }
            }

            & > div:last-of-type
            {
                padding-left : rem-calc(16);
            }
        }
    }

    &.what-are-we
    {
        p.strapline
        {
            margin-left : rem-calc(15);
            padding-top : 0;
            font-size   : 20px;
        }

        p.caption
        {
            font-size      : rem-calc(20);
            padding-bottom : 0;
            font-weight    : 100;
            color          : white;
            background     : rgba(141, 8, 8, 0.8);
            padding-left   : rem-calc(10);
            padding-right  : rem-calc(10);
            position       : absolute;
            bottom         : 0;
            width          : initial;
            margin-bottom: rem-calc(16);
        }

        .header
        {
            width: auto;
            transition: all 1s ease-in-out;

            @media #{$small-to-medium}
            {
                text-align: right;
                right: 0;
            }

            &.fixed
            {
                top : rem-calc(160);
                width: auto;
                transition: all 1s ease-in-out;

                @media #{$small-to-medium}
                {
                    margin-top: 0;
                    text-align : right;
                    top: rem-calc(0);
                    transition: all 1s ease-in-out;
                    padding:0;


                    h1
                    {
                        background: transparent;
                        font-size: rem-calc(18);
                        font-weight: bold;
                        height: rem-calc(45);
                        margin-top: 0;
                        margin-right: rem-calc(45);
                        padding-top: 10px;
                        position: absolute;
                        margin-left: rem-calc(45);
                        transition: all 1s ease-in-out;
                    }
                }
            }

            &.faded
            {
                left: -50vw;
                transition: all 1s ease-in-out;
            }
        }

        & > div
        {
            margin         : rem-calc(15);
            padding-bottom : rem-calc(10);
            background     : white;
            color          : black;

            div
            {
                padding-left : 0;
            }

            &.project-approach
            {
                margin-top     : rem-calc(0);
                margin-bottom  : rem-calc(0);
                padding    : rem-calc(32);

                .img
                {
                    background-size     : cover;
                    background-position : 50% 50%;
                    background-clip     : content-box;
                }

                .drawing
                {
                    height           : rem-calc(550);
                    background-image : url(/wp-content/uploads/general-office-7-1024x683.jpg);
                    padding-left: rem-calc(16);

                    .caption
                    {
                        width: calc(100% - 31px);
                    }
                }

                .pen
                {
                    background-image : url(/wp-content/uploads/Alan-G-2-300x225.jpg);
                    height           : rem-calc(300);
                    padding-right    : rem-calc(16);
                    padding-left     : rem-calc(16);
                }

                .computer
                {
                    background-image : url(/wp-content/uploads/general-office-B-W-3-225x300.jpg);
                    height           : rem-calc(300);
                    padding-right    : rem-calc(16);
                    padding-left     : rem-calc(16);
                }
            }
        }
    }
}

.home-content .columns
{
    padding-top    : rem-calc(16);
    padding-bottom : rem-calc(16);
}

.top-bar-section ul li a
{
    text-transform : capitalize;
    letter-spacing : normal;
    font-size      : rem-calc(13px);
}

.quotation
{
    padding               : 10rem 2rem;
    text-align            : center;
    background-repeat     : no-repeat;
    background-attachment : local;
    background-position   : center bottom;
    background            : url(#{$imgPath}/breaker-2.jpg);
    margin-bottom         : rem-calc(60);

    .two
    {
        background : url(#{$imgPath}/breaker-3.jpg);
    }

    h2
    {
        background : transparent;
    }

    #{$all-headers}
    {
        color  : $white;
        margin : 0 10%;
    }
}

h1, h2
{
    background-color : $primary-color;
    color            : $secondary-color;
    padding          : 0 rem-calc(8);
    margin-bottom    : 0;
}

.people-container
{
    .container &
    {
        margin-top : rem-calc(40);
    }

    p
    {
        color         : #e7e7e7;
        background    : rgba(0, 0, 0, 0.8);
        padding-left  : rem-calc(8);
        padding-right : rem-calc(8);
        bottom        : rem-calc(20);
        position      : absolute;
        margin-bottom : 0;
    }

    div
    {
        min-height          : rem-calc(350);
        background-size : cover;
        padding         : rem-calc(20);
        background-clip : content-box;

        h2
        {
            position : absolute;
            bottom   : rem-calc(50);
            left     : rem-calc(20);
        }
    }

    .tony-jackson
    {
        background-position-y : 24%;
        background-position-x : 49%;
        background-size       : 105%;
        background-image      : url(/wp-content/uploads/Tony-J-1-683x1024.jpg);
    }

    .alan-gammon
    {
        background-position-y : 24%;
        background-position-x : 49%;
        background-size       : 92%;
        background-image      : url(/wp-content/uploads/Alan-G-4-768x1024.jpg);
    }

    .tony-hardie
    {
        background-position-y : 30%;
        background-position-x : 8%;
        background-size       : 131%;
        background-image      : url(/wp-content/uploads/Tony-H-5-683x1024.jpg);
    }

    .luke-hunter
    {
        background-position-y : 14%;
        background-position-x : 8%;
        background-size       : 100%;
        background-image      : url(/wp-content/uploads/Luke-H-2-768x1024.jpg);
    }

    .nick-ashworth
    {
        background-position-y : -51px;
        background-position-x : 9px;
        background-image      : url(/wp-content/uploads/Nick-Ashworth-702x1024.jpg);
    }

    .darren-turner
    {
        background-image : url(/wp-content/uploads/Darren-T-7-768x1024.jpg);
    }
}

.reveal-modal.open .content
{
    padding-left      : 53%;
    float             : right;
    background-repeat : no-repeat;
    background-size   : 50%;

    &.tony-jackson
    {
        background-image : url(/wp-content/uploads/Tony-J-1-683x1024.jpg);
    }

    &.alan-gammon
    {
        background-image : url(/wp-content/uploads/Alan-G-4-768x1024.jpg);
    }

    &.tony-hardie
    {
        background-image : url(/wp-content/uploads/Tony-H-5-683x1024.jpg);
    }

    &.luke-hunter
    {
        background-image : url(/wp-content/uploads/Luke-H-2-768x1024.jpg);
    }

    &.nick-ashworth
    {
        background-image : url(/wp-content/uploads/Nick-Ashworth-702x1024.jpg);
    }

    &.darren-turner
    {
        background-image : url(/wp-content/uploads/Darren-T-7-768x1024.jpg);
    }

    .stats
    {
        position : absolute;
        left     : rem-calc(30);
        bottom   : rem-calc(20);
    }

    h2, h3
    {
        background   : white;
        color        : black;
        font-size    : 28px;
        padding-left : 0;
    }

    p
    {
        margin-bottom : 10px;
        font-size     : rem-calc(16);
        font-weight   : 100;

        &:first-child
        {
            margin-bottom : 10px;
        }
    }

    a
    {
        right: rem-calc(12);

        button
        {
            font-size : rem-calc(40);
            padding   : rem-calc(6) rem-calc(18) rem-calc(6) rem-calc(19);
        }
    }

    h4
    {
        font-size      : rem-calc(39);
        vertical-align : middle;
        padding-top    : rem-calc(3);
    }
    ul
    {
        background      : white;
        list-style-type : none;
        opacity         : 0.7;
        margin          : 0;
        padding         : rem-calc(10);

        li
        {
            &:before
            {
                content     : "\f054  ";
                color       : $primary-color;
                font-family : 'FontAwesome';
                margin-left : 0;
            }
        }
    }
}

h4
{
    width            : inherit;
    background-color : $primary-color;
    color            : white;
    height           : rem-calc(60);
    margin           : 0;
    font-size        : 17px;
    text-align       : left;
    padding-left     : 10px;
    padding-top      : rem-calc(6);
}


.disciplines-container
{
    $sw : rem-calc(284); //small width!
    margin      : rem-calc(-20) auto;
    padding-top : rem-calc(60);


    .grid-item
    {
        height        : $sw;
        width         : $sw;
        margin-bottom : rem-calc(10);

        a figure
        {
            display : none;
        }

        > div > div > div > button
        {
            opacity  : 0;
            position : absolute;
        }

        .content
        {
            overflow              : hidden;
            height                : inherit;
            width                 : inherit;
            background            : center center no-repeat;
            max-height            : inherit;
            background-position-y : rem-calc(60);
            background-size       : 70%;
            transition            : all 1s ease-in-out;
            cursor                : pointer;
            border                : solid 1px rgba(0, 0, 0, 0.2);

            .trans
            {
                width               : inherit;
                height              : inherit;
                background-color    : rgba(255, 255, 255, 0);
                transition-property : opacity, height;
                transition          : 1s ease-in-out;

                hr
                {
                    visibility : hidden;
                }

                ul, p, img
                {
                    opacity         : 0;
                    list-style-type : none;
                    margin-left     : rem-calc(0);
                }

                ul:nth-of-type(2)
                {
                    margin-left         : -280px;
                    position            : absolute;
                    transition-property : margin;
                    transition-delay    : 0.5s;
                }

                ul:nth-of-type(-n+2) li
                {
                    transition       : all 1s ease-in-out;
                    transition-delay : 1s;
                    font-size        : rem-calc(16);
                    margin-left      : rem-calc(10);
                    position         : relative;
                    font-weight      : 100;
                    font-family      : $font-family-sans-serif;

                    &:before
                    {
                        content     : "\f054  ";
                        color       : $primary-color;
                        font-family : 'FontAwesome';
                        margin-left : 0;
                    }
                }

                ul:nth-of-type(3)
                {
                    position : absolute;
                    top      : 0;
                }

                p
                {
                    border-bottom : solid 1px #999
                }
            ;
            }
        }
    }

    .feasibility .content
    {
        background-image : url(#{$icoPath}/feasibility.svg);
    }

    .architecture .content
    {
        background-image : url(#{$icoPath}/architecture.svg);
    }

    .project .content
    {
        background-image : url(#{$icoPath}/project.svg);
    }

    .cdm .content
    {
        background-image : url(#{$icoPath}/cdm.svg);
    }

    .grid-item--big
    {
        width  : auto;
        //height : rem-calc(650);
        height : auto;

        &.ios
        {
            margin: rem-calc(40);
            button
            {
                display: none;
            }

        }

        a figure
        {
            display : block;
        }

        > div > div > div > button
        {
            visibility       : visible;
            right            : rem-calc(9);
            top              : rem-calc(9);
            padding          : 0 rem-calc(8);
            font-size        : rem-calc(35);
            font-weight      : 100;
            opacity          : 1;
            transition       : opacity 1s ease-in-out;
            transition-delay : 1s;
        }

        .content
        {
            overflow   : hidden;
            max-height : inherit;
            transition : all 1s ease-in-out;
            cursor     : auto;

            .trans
            {
                background-color : rgba(90, 90, 90, 1);
                color            : rgba(220, 220, 220, 1);
                transition       : opacity 1s ease-in-out;

                hr
                {
                    visibility : visible;
                    margin     : 0 rem-calc(22px);
                    border-top : 4px $aluminum;
                }

                ul, p, img
                {
                    opacity    : 1;
                    transition : opacity 1s ease-in-out;
                    position   : relative;
                }

                p
                {
                    padding      : rem-calc(10) rem-calc(13);
                    margin       : 0 rem-calc(20);
                    font-size    : 19px;
                    border-left  : 0;
                    border-right : 0;
                }

                ul
                {
                    min-width : calc(540px / 2);
                    width     : calc(540px / 2);
                    display   : inline-block;
                    margin    : rem-calc(10px);

                    &:nth-of-type(2)
                    {
                        margin-left : 0;
                        position    : relative;
                    }

                    li
                    {
                        margin-left : 10px;
                        position    : relative;
                    }
                }

                ul:nth-of-type(3)
                {
                    position   : relative;

                    width      : 100%;
                    margin     : 0;
                    text-align : justify;
                    padding    : rem-calc(18) 3%;

                    li
                    {
                        display        : inline-block;
                        width          : 20%;
                        vertical-align : top;

                        figure
                        {

                            img
                            {
                                margin : 0;
                                width  : rem-calc(110px);
                                height : rem-calc(110px);

                                &:hover
                                {
                                    box-shadow : 1px 1px 5px #999;
                                }
                            }

                            figcaption
                            {
                                overflow      : hidden;
                                width         : rem-calc(110px);
                                max-width     : rem-calc(110px);
                                color         : rgba(220, 220, 220, 1);
                                font-weight   : 600;
                                text-align    : left;
                                font-size     : rem-calc(15);
                                margin-bottom : 0;
                                line-height   : normal;
                            }
                        }
                    }
                    &:after
                    {
                        content : ' ';
                        display : inline-block;
                        width   : 100%;
                    }
                }
            }
        }
    }
}

.projects-container
{
    -webkit-box-sizing : border-box;
    -moz-box-sizing    : border-box;
    box-sizing         : border-box;

    :after
    {
        content : '';
        display : block;
        clear   : both;
    }

    .grid-sizer, .grid-item
    {
        width  : 300px;
        height : 300px;

        @media #{$small-to-medium}
        {
            width:calc(50%);
        }

    }

    .grid-item
    {
        float               : left;
        background-position : center center;
        background-repeat   : no-repeat;
        border              : 10px solid white;
        background-size     : cover;
        margin-bottom       : 0;
        padding             : 0;

        .grid-item--width2
        {
            width : 620px;
        }

        .grid-item--height2
        {
            height : 620px;
        }

        .frame
        {
            width  : 100%;
            height : 100%;
            border : solid 1px black;

            div
            {
                position : absolute;
                bottom   : 0;
                margin   : 0;

                h2
                {
                    background-color : rgba(123, 7, 7, 0.8);
                    color            : $secondary-color;
                    padding          : 0 rem-calc(8);
                    margin-bottom    : 0;
                    font-size        : rem-calc(27);
                }

                p
                {
                    color          : $secondary-color;
                    background     : rgba(0, 0, 0, 0.8);
                    padding-left   : rem-calc(7);
                    padding-bottom : rem-calc(1);
                    padding-right  : rem-calc(7);
                    font-weight    : 100;
                }

            }
        }
    }
}

.big
{
    font-size           : 3em;
    color               : $primary-color;
    transition-property : all;
    transition-duration : 0.5s;
}

.fa
{
    padding : 0 rem-calc(20);
}

.scroll-back-to-top-inner i, .button i
{
    padding   : 0;
    font-size : 40px;
}

body.page-template-news #single-post > div > div > article
{
    margin-top: rem-calc(19);

}

/**** Isotope CSS3 transitions *** */

.isotope
{
    margin : 10px 0;

    .button-group
    {
        @media #{$small-to-medium}
        {
            display: none;
        }
    }

    .isotope_button
    {
        display          : inline-block;
        padding          : 10px 18px;
        background       : #eee;
        border           : none;
        border-radius    : 7px;
        background-image : linear-gradient(to bottom, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0.2));
        color            : #222;
        font-family      : sans-serif;
        font-size        : 16px;
        text-shadow      : 0 1px white;
        cursor           : pointer;

        @media #{$small-to-medium}
        {
            display: none;
        }
    }

    .isotope_button:hover
    {
        background-color : #8cf;
        text-shadow      : 0 1px hsla(0, 0%, 100%, 0.5);
        color            : #222;
    }

    .isotope_button:active, .isotope_button.is-checked
    {
        background-color : #28f;
    }

    .isotope_button.is-checked
    {
        color       : white;
        text-shadow : 0 -1px hsla(0, 0%, 0%, 0.8);
    }

    .isotope_button:active
    {
        box-shadow : inset 0 1px 10px hsla(0, 0%, 0%, 0.8);
    }

    .button-group:after
    {
        content : "";
        display : block;
        clear   : both;
    }

    .button-group .isotope_button
    {
        float         : left;
        border-radius : 0;
        margin-left   : 0;
        margin-right  : 1px;
    }

    .button-group .isotope_button:first-child
    {
        border-radius : 0.5em 0 0 0.5em;
    }

    .button-group .isotope_button :last-child
    {
        border-radius : 0 0.5em 0.5em 0;
    }
}

#wpt_project_size > div
{
    display : flex;
}

