
#rev_slider_1_1_wrapper
{
    z-index: -10;
}

div.off-canvas-wrap
{
    margin-top: rem-calc(-20);
}

div.logo
{
    margin-top: rem-calc(-20);

    .fixed &
    {
        margin-top: rem-calc(0);
    }

    $logoSize : rem-calc(120);

    width           : $logoSize;
    height          : $logoSize;
    position        : absolute;
    background      : url(#{$imgPath}/jda-logo-2.jpg);
    display         : -webkit-box;
    margin-top      : rem-calc(-20);
    margin-left     : rem-calc(10);
    z-index         : 9999999999999;
    background-size : cover;
}

.next-button
{
    visibility: hidden;

    &.visible
    {
        visibility: visible;
    }

    > div
    {
        position            : fixed;
        bottom              : rem-calc(30px);
        z-index             : 999999998;
        opacity             : 0.6;
        right               : calc(50% - 32px);

        background-image    : url(#{$icoPath}/bz-arrow.svg);
        background-repeat   : no-repeat;
        background-size     : contain;
        background-position : center center;
        height              : rem-calc(60);
        width               : rem-calc(60);

        transform           : rotate(0deg);
        transition          : all 0.3s ease-in-out;

        &.bottom
        {
            right: rem-calc(34);
            bottom: rem-calc(10);
            transform: rotate(180deg);
            transition: all 0.3s ease-in-out;
            padding-left:rem-calc(0);
            height:rem-calc(38);
            width: rem-calc(32);
            margin: 0;
        }
    }
}

.tab-bar
{
    .tab-bar-section
    {
        padding : 0;
    }

    .middle
    {
        right: 0;
    }


    h1
    {
        text-align: right;
        padding-right: rem-calc(20);
    }
}


.top-bar-container
{
    padding-top: rem-calc(20);
    padding-bottom: rem-calc(20);
    height: rem-calc(120);
    background-color: rgba(255,255,255,0);
    transition: all 1s linear;

    &.fixed
    {
        background-color: rgba(255,255,255,0.7);
        transition: all 1s linear;


        nav
        {
            top: rem-calc(20);
            margin-top: rem-calc(0);
            margin-top: rem-calc(0);
        }
    }

    .underneath
    {
        margin-top: 20px;
        height: 40px;
    }

    .top-bar
    {
        margin-left : 0;
        max-width   : none;
        margin-top: rem-calc(0);

        h1
        {
            font-weight : 300;
            font-size   : rem-calc(26);
            color       : white;
            display     : block;
            background: none;
            float: left;
            margin-left : rem-calc(140);
            position: absolute;
            padding-top: rem-calc(3);
        }

        ul.title-area
        {
            max-height  : rem-calc(80);
            margin-left : rem-calc(146);
            margin-top  : rem-calc(0);
            top: rem-calc(38);

            li
            {
                color       : white;
                display     : inline;
                font-weight : 100;
                &:not(:last-child)
                {
                    &::after
                    {
                        content : " | "
                    }
                }
            }
        }

        .top-bar-section
        {
            display        : inline;
            width          : auto;
            height         : 100%;
            letter-spacing : 0.15em;

            li
            {
                display : flex;
                a
                {
                    padding : 0 auto;
                }

                &.active:not(.has-form) a:not(.button)
                {
                    background : #272727;
                }

                &.active:not(.has-form) a:hover:not(.button)
                {
                    background : $primary-color;
                }
            }
        }
    }
}

// A more subtle background color for the active menu item

@media only screen and (max-width : 980px) {
    #menu-main-menu-1 a
    {
        padding : 0 1vw;
    }
}

// Switch between the mobile menu (tab-bar) and desktop menu (topbar) based on a custom $topbar-breakpoint value.
// The $topbar-breakpoint can be edited in _custom-settings.scss.

@media only screen and (min-width : ($topbar-breakpoint + em-calc(1)))
{
    .tab-bar
    {
        display : none;
    }
}

// Hide the topbar when the screen size is smaller than the topbar breakpoint
@media only screen and (max-width : $topbar-breakpoint)
{
    .top-bar
    {
        display : none;
    }
}

